In [1]:
from pipeline import Pipeline, Process, Postprocess, Preprocess
import numpy as np
import pandas as pd
import os
import cv2
import matplotlib.pyplot as plt

In [2]:
class MyPreProcess(Preprocess):
    process_desc = "Exemple de pre-process -> ne fait rien"
    def run(self, images):
        pass


class MyProcess(Process):
    process_desc = "Exemple de process -> ne fait rien"
    def run(self, images):
        pass
    
    
class MyPostProcess(Postprocess):
    process_desc = "Exemple de post-process -> ne fait rien"
    def run(self, images):
        pass

In [3]:
pipeline = Pipeline()
process_array = np.array([MyPreProcess()
                          ,MyProcess()
                          ,MyPostProcess()
                          ,MyPreProcess(verbose=0)])
pipeline.add_processes(process_array)

Preprocess :  Exemple de pre-process -> ne fait rien
Process :  Exemple de process -> ne fait rien
Postprocess :  Exemple de post-process -> ne fait rien
Exemple de pre-process -> ne fait rien a été ajouté.
Exemple de process -> ne fait rien a été ajouté.
Exemple de post-process -> ne fait rien a été ajouté.
Exemple de pre-process -> ne fait rien a été ajouté.

In [4]:
pipeline.print_process()

Exemple de pre-process -> ne fait rien
Exemple de pre-process -> ne fait rien
Exemple de process -> ne fait rien
Exemple de post-process -> ne fait rien

In [5]:
data = pd.read_csv('./../data/SEATGURU_INFO_AIRCRAFT.csv', sep = ';')
data.index = range(2, len(data) + 2)

In [6]:
data.head()

,Data_Source,Airline_name,Aircraft_Type,Category,Flight_Type,Count,Total_seat,Seat_Class,Seat_Type,Seat_Position,...,Width,Bedlength_maximum,Bedlength_minimum,Music,VideoType,Power_available,Power_kind,Usb_available,Usb_kind,Rating
2,SeatGuru,aegean-airlines,Airbus A319-100,ECONOMY,short haul,138,138,Economy,STANDARD,BULKHEAD,...,18.0,NaN,NaN,NONE,NONE,NONE,NaN,NONE,NaN,2
3,SeatGuru,aegean-airlines,Airbus A319-100,ECONOMY,short haul,138,138,Economy,STANDARD,NORMAL,...,18.0,NaN,NaN,NONE,NONE,NONE,NaN,NONE,NaN,2
4,SeatGuru,aegean-airlines,Airbus A319-100,ECONOMY,short haul,138,138,Economy,STANDARD,EXIT_ROW,...,18.0,NaN,NaN,NONE,NONE,NONE,NaN,NONE,NaN,5
5,SeatGuru,aegean-airlines,Airbus A319-100,ECONOMY,short haul,138,138,Economy,STANDARD,NORMAL,...,18.0,NaN,NaN,NONE,NONE,NONE,NaN,NONE,NaN,3
6,SeatGuru,aegean-airlines,Airbus A319-100,ECONOMY,short haul,138,138,Economy,STANDARD,NORMAL,...,18.0,NaN,NaN,NONE,NONE,NONE,NaN,NONE,NaN,1

In [7]:
data.columns

Index(['Data_Source', 'Airline_name', 'Aircraft_Type', 'Category',
       'Flight_Type', 'Count', 'Total_seat', 'Seat_Class', 'Seat_Type',
       'Seat_Position', 'Recline', 'Premium', 'Pitch_minimum', 'Pitch_maximum',
       'Width', 'Bedlength_maximum', 'Bedlength_minimum', 'Music', 'VideoType',
       'Power_available', 'Power_kind', 'Usb_available', 'Usb_kind', 'Rating'],
      dtype='object')

### Ajouter image au DF

In [108]:
data['airline_aircraft'] = data.apply(lambda x: x['Airline_name'].replace('-', '_') + '_' + x['Aircraft_Type'].replace(' ', '_'), axis = 'columns')
liste_image = os.listdir('./../data/LAYOUT SEATGURU/')
l_result = []
for i in liste_image:
    for j in data['airline_aircraft'].unique():
        if j.lower() in i.lower():
            l_result.append((i, j))

new_df = pd.DataFrame(list(zip([i[0] for i in l_result], [i[1] for i in l_result])), columns =['image', 'avion'])

In [110]:
df_temp = new_df[['avion', 'image']]

In [111]:
df_temp = pd.DataFrame([list(data.groupby('airline_aircraft').groups.keys()), [list(i) for i in list(data.groupby('airline_aircraft').groups.values())]], index = ['avion', 'lignes']).T

In [112]:
df_temp = df_temp.sort_values('lignes').reset_index(drop = True)

In [114]:
new_df = new_df.merge(df_temp, how='outer', on='avion').dropna()

In [118]:
new_df.drop('avion', axis = 'columns', inplace = True)

In [119]:
new_df.head()

,image,lignes
0,Aegean_Airlines_Airbus_A319-100_plane1.svg.png,"[2, 3, 4, 5, 6]"
1,Aegean_Airlines_Airbus_A320-200_plane2.svg.png,"[7, 8, 9, 10, 11, 12]"
2,Aegean_Airlines_Airbus_A321-200_plane1.svg.png,"[13, 14, 15, 16, 17, 18, 19]"
3,Aegean_Airlines_Airbus_A321-200_plane3.svg.png,"[13, 14, 15, 16, 17, 18, 19]"
4,Aegean_Airlines_ATR_42-600_plane2.svg.png,"[20, 21, 22, 23, 24]"

In [120]:
# new_df.to_csv('./../data/Image_lignes.csv', sep = ';')

### Autre

In [10]:
path = './../data/LAYOUT SEATGURU/'
df = pd.DataFrame({'img': os.listdir('./../data/LAYOUT SEATGURU/'), 'chemin': [path + img_name for img_name in os.listdir('./../data/LAYOUT SEATGURU/')]})

In [11]:
df.head()

,img,chemin
0,Aegean_Airlines_Airbus_A319-100_plane1.svg.png,./../data/LAYOUT SEATGURU/Aegean_Airlines_Airb...
1,Aegean_Airlines_Airbus_A320-200_plane2.svg.png,./../data/LAYOUT SEATGURU/Aegean_Airlines_Airb...
2,Aegean_Airlines_Airbus_A321-200_plane1.svg.png,./../data/LAYOUT SEATGURU/Aegean_Airlines_Airb...
3,Aegean_Airlines_Airbus_A321-200_plane3.svg.png,./../data/LAYOUT SEATGURU/Aegean_Airlines_Airb...
4,Aegean_Airlines_ATR_42-600_plane2.svg.png,./../data/LAYOUT SEATGURU/Aegean_Airlines_ATR_...

In [1]:
img = plt.imread(df['chemin'][0])
figure = plt.figure(figsize = (5, 20))
plt.imshow(img)

NameError: name 'plt' is not defined

In [ ]:
cv2.destroyAllWindows()

In [22]:
d = pd.read_csv('./Image_lignes.csv', sep = ';')

In [23]:
d.head()

,Unnamed: 0,image,lignes
0,0,Aegean_Airlines_Airbus_A319-100_plane1.svg.png,"[2, 3, 4, 5, 6]"
1,1,Aegean_Airlines_Airbus_A320-200_plane2.svg.png,"[7, 8, 9, 10, 11, 12]"
2,2,Aegean_Airlines_Airbus_A321-200_plane1.svg.png,"[13, 14, 15, 16, 17, 18, 19]"
3,3,Aegean_Airlines_ATR_42-600_plane2.svg.png,"[20, 21, 22, 23, 24]"
4,4,Aegean_Airlines_Bombardier_Dash_8_Q400_plane3....,"[25, 26, 27]"

In [33]:
d

,Unnamed: 0,image,lignes
0,0,Aegean_Airlines_Airbus_A319-100_plane1.svg.png,"[2, 3, 4, 5, 6]"
1,1,Aegean_Airlines_Airbus_A320-200_plane2.svg.png,"[7, 8, 9, 10, 11, 12]"
2,2,Aegean_Airlines_Airbus_A321-200_plane1.svg.png,"[13, 14, 15, 16, 17, 18, 19]"
3,3,Aegean_Airlines_ATR_42-600_plane2.svg.png,"[20, 21, 22, 23, 24]"
4,4,Aegean_Airlines_Bombardier_Dash_8_Q400_plane3....,"[25, 26, 27]"
5,5,Aeroflot_Russian_Airlines_Airbus_330_200_plane...,"[28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38]"
6,6,Aeroflot_Russian_Airlines_Airbus_A320_plane7.jpg,"[39, 40, 41, 42, 43, 44, 45, 46]"
7,7,Aeroflot_Russian_Airlines_Airbus_A320_V2_plane...,"[47, 48, 49, 50, 51, 52, 53]"
8,8,Aeroflot_Russian_Airlines_Airbus_A321_plane9.jpg,"[54, 55, 56, 57, 58, 59, 60, 61, 62]"
9,9,Aeroflot_Russian_Airlines_Airbus_A321_V2_plane...,"[63, 64, 65, 66, 67, 68, 69, 70, 71, 72]"
10,10,Aeroflot_Russian_Airlines_Airbus_A321_V3_plane...,"[73, 74, 75, 76, 77, 78, 79, 80, 81, 82]"
11,11,Aeroflot_Russian_Airlines_Airbus_A330_300_V2_p...,"[83, 84, 85, 86, 87, 88, 89, 90, 91, 92]"
12,12,Aeroflot_Russian_Airlines_Airbus_A330_300_V3_p...,"[93, 94, 95, 96, 97, 98, 99, 100, 101, 102]"
13,13,Aeroflot_Russian_Airlines_Boeing_737-800_plane...,"[103, 104, 105, 106, 107, 108, 109, 110]"
14,14,Aeroflot_Russian_Airlines_Boeing_777-300ER_pla...,"[111, 112, 113, 114, 115, 116, 117, 118, 119, ..."
15,15,Aeroflot_Russian_Airlines_Sukhoi_Superjet_100-...,"[125, 126, 127, 128, 129, 130]"
16,16,Aerolineas_Argentinas_Airbus_A330-200_plane14.jpg,"[131, 132, 133, 134, 135, 136, 137]"
17,17,Aerolineas_Argentinas_Airbus_A340-300_plane15.jpg,"[138, 139, 140, 141, 142, 143, 144, 145]"
18,18,Aerolineas_Argentinas_Boeing_737-700_plane16.jpg,"[146, 147, 148, 149, 150, 151, 152]"
19,19,Aerolineas_Argentinas_Boeing_737-800_plane17.jpg,"[153, 154, 155, 156, 157, 158, 159, 160]"
20,20,Aeromexico_AM_Boeing_737_MAX_8_plane20.svg.png,"[161, 162, 163, 164, 165, 166, 167, 168, 169]"
21,21,AeroMexico_Boeing_737-700_V2_plane21.jpg,"[170, 171, 172, 173, 174, 175, 176, 177, 178]"
22,22,AeroMexico_Boeing_737-800_B_plane22.svg.png,"[179, 180, 181, 182, 183, 184, 185, 186, 187, ..."
23,23,AeroMexico_Boeing_737-800_C_plane23.jpg,"[189, 190, 191, 192, 193, 194, 195]"
24,24,AeroMexico_Boeing_787-9_plane19.jpg,"[196, 197, 198, 199, 200, 201, 202, 203, 204, ..."
25,25,AeroMexico_Embraer_ERJ-170_plane24.jpg,"[207, 208, 209, 210, 211]"
26,26,AeroMexico_Embraer_ERJ-190_plane25.jpg,"[212, 213, 214, 215, 216, 217, 218, 219]"
27,27,AeroMexico_Embraer_ERJ-190_V2_plane26.jpg,"[220, 221, 222, 223, 224, 225]"
28,28,Aer_Lingus_Airbus_A320_plane9.jpg,"[237, 238, 239, 240, 241, 242]"
29,29,Aer_Lingus_Airbus_A321_plane1.jpg,"[243, 244, 245, 246, 247]"
...,...,...,...
975,975,Virgin_Australia_Airbus_A330_200_plane312.jpg,"[10057, 10058, 10059, 10060, 10061, 10062, 100..."
976,976,Virgin_Australia_ATR_72-500_plane318.jpg,"[10067, 10068, 10069]"
977,977,Virgin_Australia_Boeing_737-700_plane315.jpg,"[10070, 10071, 10072, 10073, 10074, 10075, 100..."
978,978,Virgin_Australia_Boeing_737-800_Business_plane...,"[10081, 10082, 10083, 10084, 10085, 10086, 100..."
979,979,Virgin_Australia_Boeing_777-300ER_V2_plane313....,"[10092, 10093, 10094, 10095, 10096, 10097, 100..."
980,980,Virgin_Australia_Fokker_F100_plane317.jpg,"[10113, 10114, 10115, 10116, 10117, 10118, 10119]"
981,981,Vistara_Airbus_A320neo_plane319.jpg,"[10120, 10121, 10122, 10123, 10124, 10125, 101..."
982,982,Viva_Aerobus_Airbus_A320neo_plane321.jpg,"[10130, 10131, 10132, 10133, 10134, 10135, 101..."
983,983,Volaris_Airlines_Airbus_A319_plane322.jpg,"[10142, 10143, 10144, 10145, 10146]"
984,984,Volaris_Airlines_Airbus_A320_plane323.jpg,"[10147, 10148, 10149, 10150, 10151]"
985,985,Volaris_Airlines_Airbus_A321_plane324.jpg,"[10152, 10153, 10154, 10155, 10156]"
986,986,Volotea_Airlines_V7_Airbus_A319-100_A_plane325...,"[10157, 10158, 10159, 10160, 10161]"
987,987,Volotea_Airlines_V7_Airbus_A319-100_B_plane326...,"[10162, 10163, 10164, 10165, 10166]"
988,988,Volotea_Airlines_V7_Airbus_A320-200_plane327.s...,"[10167, 10168, 10169, 10170, 10171, 10172]"
989,989,Volotea_Airlines_V7_Boeing_717-200_plane328.sv...,"[10173, 10174, 10175, 10176, 10177, 10178]"
990,990,Westjet_Boeing_737-600_plane335.jpg,"[10197, 10198, 10199, 10200, 10201, 10202, 10203]"
991,991,Westjet_Boeing_737-700_plane336.jpg,"[10204, 10205, 10206, 10207, 10208, 10209, 102..."
992,992,Westjet_Boeing_737-800_plane337.jpg,"[10212, 10213, 10214, 10215, 10216, 10217, 10218]"
993,993,WestJet_Boeing_737_Max_8_plane334.svg.png,"[10219, 10220, 10221, 10222, 10223, 10224, 10225]"
994,994,Westjet_Boeing_767-300ER_plane332.jpg,"[10226, 10227, 10228, 10229, 10230, 10231, 10232]"
995,995,WestJet_Boeing_787-9_plane333.svg.png,"[10233, 10234, 10235, 10236, 10237, 10238, 102..."
996,996,Westjet_Bombardier_Q400_plane338.jpg,"[10244, 10245, 10246, 10247, 10248, 10249]"
997,997,Xiamen_Airlines_Boeing_737-700_plane343.jpg,"[10262, 10263, 10264, 10265, 10266, 10267, 10268]"
998,998,Xiamen_Airlines_Boeing_737-800_V1_plane346.jpg,"[10269, 10270, 10271, 10272, 10273, 10274, 102..."
999,999,Xiamen_Airlines_Boeing_737-800_V2_plane345.jpg,"[10277, 10278, 10279, 10280, 10281, 10282, 102..."
1000,1000,Xiamen_Airlines_Boeing_737-800_V3_plane344.jpg,"[10285, 10286, 10287, 10288, 10289, 10290, 10291]"
1001,1001,Xiamen_Airlines_Boeing_757-200_V1_plane347.jpg,"[10292, 10293, 10294, 10295, 10296, 10297, 102..."
1002,1002,Xiamen_Airlines_Boeing_757-200_V2_plane348.jpg,"[10303, 10304, 10305, 10306, 10307, 10308, 103..."
1003,1003,Xiamen_Airlines_Boeing_787-8_plane341.jpg,"[10315, 10316, 10317, 10318, 10319, 10320, 103..."
1004,1004,Xiamen_Airlines_Boeing_787-9_plane342.jpg,"[10325, 10326, 10327, 10328, 10329, 10330, 10331]"